doctype html
html(lang="ru")
    head
        title= pageTitle
        link(
            rel='stylesheet',
            href='css/font-awesome.min.css')
        link(
            rel='stylesheet',
            href='css/main.css')


    body
        header
            .logo
                h1 n31
            .social
                a(href='#')
                    <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
                a(href='#')
                    <i class="fa fa-skype fa-2x" aria-hidden="true"></i>
                a(href='#')
                    <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>


        section.no_visible
            .content
        section.no_visible
            .content
        section.no_visible
            .content
        section.no_visible
            .content
        section.form
            .content

        footer


