doctype html
html(lang="ru")
    head
        title.
            n31
        link(
            rel='stylesheet',
            href='css/font-awesome.min.css')
        link(
            rel='stylesheet',
            href='css/main.css')
        meta(http-equiv="content-type",
            content='text/html',
            charset='utf-8')

    body

        mixin social()
            .social
                a(href='#')
                    <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
                a(href='#')
                    <i class="fa fa-skype fa-2x" aria-hidden="true"></i>
                a(href='https://github.com/ne31oi')
                    <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
        mixin label_input(name,txt,plh,types)

            input(id=name,required,type=types,placeholder=plh)



        header
            .content
                .logo
                    h1 n31

                +social()
        nav
            +menu()
        section.item_video
            a(name="video")
            <div id="video_content" class="is_overlay">
            <video id="video" autoplay loop preload="auto">
            <source src="video/mp4/gold.mp4" type="video/mp4"></source>
            <source src="video/mp4/gold.webm" type="video/webm"></source>
            </video>
            </div>
            .content

            a(name="timeline")
            .content
                h2  Timeline
                .time_content
                    .timeline
                    .timel
                        .item.right
                            span 01.02.2016
                        .item.left
                            h3  Заголовок события
                            p Lorem ipsum dolor laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                        .img
                    .timel
                        .item.left
                            span 01.02.2016
                        .item.right
                            h3  Заголовок события
                            p Lorem ipsum dolor tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                        .img
                    .timel
                        .item.left
                            span 01.02.2016
                        .item.right
                            h3  Заголовок события
                            p.
                                r tempora laudantium ipsa ad debitis unde? asdasdIste voluptarasda tempora lasdasdaasdsdasdudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste voluptar tempora laudantium ipsa ad debitis unde? Iste volupta
                        .img
                    .timel
                        .item.right
                            span 01.02.2016
                        .item.left
                            h3  Заголовок события
                            p Lorem ipsum dolor tempora laudantium ipsa ad dolor tempora laudantium ipsa ad dolor laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                        .img
                    .timel
                        .item.left
                            span 01.02.2016
                        .item.right
                            h3  Заголовок события
                            p Lorem ipsum dolor tempora laudantium ipsa ad dolor tempora laudantium ipsa ad dolor tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
                        .img


        section
            .content
        section.item3
            .content
        section.form

            .content
                a(name="contact")
                h2 Contact
                form(method="post",action="#")
                    +label_input("uname","User","Full name","text")
                    +label_input("umail","E-mail","Email address","email")
                    br
                    textarea(placeholder="Tell me about your project",cols="42",wrap="hard",resize="none")
                    br

                    input(type="submit",value="Send")
                    input(type="reset",value="Clear")




        footer
            .content
                +social()

